AWT_PracticalNo_Five/Calculator_2/Calculator_2/Connected Services/ServiceReference4/Delete_WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DeleteRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="details" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="price" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteRecordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DisplayAllRecord">
        <s:complexType />
      </s:element>
      <s:element name="DisplayAllRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DisplayAllRecordResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DeleteRecordSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteRecord" />
  </wsdl:message>
  <wsdl:message name="DeleteRecordSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteRecordResponse" />
  </wsdl:message>
  <wsdl:message name="DisplayAllRecordSoapIn">
    <wsdl:part name="parameters" element="tns:DisplayAllRecord" />
  </wsdl:message>
  <wsdl:message name="DisplayAllRecordSoapOut">
    <wsdl:part name="parameters" element="tns:DisplayAllRecordResponse" />
  </wsdl:message>
  <wsdl:portType name="Delete_WebServiceSoap">
    <wsdl:operation name="DeleteRecord">
      <wsdl:input message="tns:DeleteRecordSoapIn" />
      <wsdl:output message="tns:DeleteRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DisplayAllRecord">
      <wsdl:input message="tns:DisplayAllRecordSoapIn" />
      <wsdl:output message="tns:DisplayAllRecordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Delete_WebServiceSoap" type="tns:Delete_WebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeleteRecord">
      <soap:operation soapAction="http://tempuri.org/DeleteRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisplayAllRecord">
      <soap:operation soapAction="http://tempuri.org/DisplayAllRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Delete_WebServiceSoap12" type="tns:Delete_WebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DeleteRecord">
      <soap12:operation soapAction="http://tempuri.org/DeleteRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisplayAllRecord">
      <soap12:operation soapAction="http://tempuri.org/DisplayAllRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Delete_WebService">
    <wsdl:port name="Delete_WebServiceSoap" binding="tns:Delete_WebServiceSoap">
      <soap:address location="https://localhost:44361/Delete_WebService.asmx" />
    </wsdl:port>
    <wsdl:port name="Delete_WebServiceSoap12" binding="tns:Delete_WebServiceSoap12">
      <soap12:address location="https://localhost:44361/Delete_WebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>