AWT_PracticalNo_Five/Calculator_2/Calculator_2/Connected Services/ServiceReference2/Display_Gridview.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DisplayAllRecord">
        <s:complexType />
      </s:element>
      <s:element name="DisplayAllRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DisplayAllRecordResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertRecord">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="esalary" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="insertRecordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="insertRecordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DisplayAllRecordSoapIn">
    <wsdl:part name="parameters" element="tns:DisplayAllRecord" />
  </wsdl:message>
  <wsdl:message name="DisplayAllRecordSoapOut">
    <wsdl:part name="parameters" element="tns:DisplayAllRecordResponse" />
  </wsdl:message>
  <wsdl:message name="insertRecordSoapIn">
    <wsdl:part name="parameters" element="tns:insertRecord" />
  </wsdl:message>
  <wsdl:message name="insertRecordSoapOut">
    <wsdl:part name="parameters" element="tns:insertRecordResponse" />
  </wsdl:message>
  <wsdl:portType name="Display_GridviewSoap">
    <wsdl:operation name="DisplayAllRecord">
      <wsdl:input message="tns:DisplayAllRecordSoapIn" />
      <wsdl:output message="tns:DisplayAllRecordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="insertRecord">
      <wsdl:input message="tns:insertRecordSoapIn" />
      <wsdl:output message="tns:insertRecordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Display_GridviewSoap" type="tns:Display_GridviewSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DisplayAllRecord">
      <soap:operation soapAction="http://tempuri.org/DisplayAllRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertRecord">
      <soap:operation soapAction="http://tempuri.org/insertRecord" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Display_GridviewSoap12" type="tns:Display_GridviewSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DisplayAllRecord">
      <soap12:operation soapAction="http://tempuri.org/DisplayAllRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insertRecord">
      <soap12:operation soapAction="http://tempuri.org/insertRecord" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Display_Gridview">
    <wsdl:port name="Display_GridviewSoap" binding="tns:Display_GridviewSoap">
      <soap:address location="https://localhost:44361/Display_Gridview.asmx" />
    </wsdl:port>
    <wsdl:port name="Display_GridviewSoap12" binding="tns:Display_GridviewSoap12">
      <soap12:address location="https://localhost:44361/Display_Gridview.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>